<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <!-- IMPORTANT -->
    <system.webServer>
      <!--****************************************
      This needs to be enabled on IIS level
      /wwww/web.config changes
      Also see comments in Startup.cs file
      ********************************************
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Headers" value="*" />
          <add name="Access-Control-Allow-Methods" value="*" />
        </customHeaders>
      </httpProtocol>-->
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="\\Mac\Home\Documents\Projects Local\ServiceHub\ServiceHub\bin\Release\netcoreapp3.1\ServiceHub.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>